/*全設定のマージンクリア*/
body{ 
    margin: 0;
    margin-top: -22px;
    padding: 0;
}

/*登録完了の文字からお問い合わせ前までの背景色指定*/
div#topBlock{
    background-color: rgb(222, 211, 112);

    align-items:stretch;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}


.photo_tips{/*撮影通知ボックス*/
    padding: 10px;
    margin-top: 1em;
    color: #FFF;
    background: #2cfab9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;/*丸角*/
}
.photo_tips p{
    text-align: left;
    font-size: 18px;
    margin-left: 10px; 
    padding: 0;
}


/*登録完了からの文字幅位置指定*/
.left-text-set{
    margin: 4.5%;/*縦横の余白*/
}

/*登録完了*/
.title{
    font-size: 50px;
    /*text-align: center;*/
    /*color: brown;*/
}

/*お客様～～*/
.okyakusama{
    font-size: 29px;
}

/*期限内に～～*/
.kigennai{
    font-size: 29px;
    color: red;
 }
 .yen{/*98,000円*/
    vertical-align: bottom;/*下揃え*/
    font-weight: bold;/*太字*/
    font-size: 36px;
}

.countDownBox {/*カウントダウンボックス*/
    padding: 50px;
    margin: 60px 0;
    margin-top: -30px;
    color: #FFF;
    background: #ff1c42;
    border-bottom: solid 6px #b60015;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
 }
 .countDownBox p {
    text-align: center;
    font-size: 30px;
    margin: 0; 
    padding: 0;
    margin-top: -20px;
}
.type-stripe {/*斜線バーアニメーション*/
    margin-bottom: -20px;
    height: 12px;/*縦幅*/
    background: linear-gradient(-45deg, #424242 25%, #fff 25%, #fff 50%, #424242 50%, #424242 75%, #fff 75%, #fff);
    -webkit-animation: stripeBg 10s linear infinite;
    background-size: 20px 20px;
    border: 1px solid #424242;
    }
  @-webkit-keyframes stripeBg {
   0% {background-position: 0 0;}
  100% {background-position: 100% 0;}
}


/*お支払いの～～*/
.gotyuui{
    margin-top: -26px;
    color: red;
 }
 .hou{/*法的措置*/
    vertical-align: bottom;/*下揃え*/
    font-weight: bold;/*太字*/
    font-size: large;
 }
 .souou{/*相応の対処*/
    vertical-align: bottom;/*下揃え*/
    font-weight: bold;/*太字*/
    font-size: large;
}

/*なお、～～*/
.nao{
    margin-top: -10px;
}


div#form{
    margin: 4.5%;/*縦横の余白*/
}

table{
    width: 100%;
 }
  h2{
    margin-top: 5%;
    margin-bottom: auto;/*これだけautoしたらいい感じになった*/
  }
 table.table1 td{
    font-size: large;
    border: 2.5px solid rgb(238, 238, 238);
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: left;
 }
 table.table1 td.line_none{
    border-bottom: 0;
 }

 table.table2 td{
    font-size: large;
    border: 2.5px solid rgb(238, 238, 238);
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: left;
 }
 table.table2 td.line_none{
    border-bottom: 0;
 }

 table.table3 td{
    font-size: large;
    border: 2.5px solid rgb(238, 238, 238);
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: left;
 }
 table.table3 td.line_none{
    border-bottom: 0;
 }

 /*偶数行グレー化*/
 .light_gray{
    background-color: rgba(0, 0, 0, 0.022);
 }
 